.password-modify-box {
  padding: 10px;
  box-shadow: 0 0 5px #ddd;
  margin-bottom: 10px;

  .title-box {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: rgb(51, 68, 84);
    border-bottom: 1px solid #ddd;
    color: #fff;
  }

  .password-modify-content-box {
    display: flex;
    flex-direction: row;

    .content-left-box {
      width: 50%;
      padding: 10px;

      .button {
        min-width: 300px;
      }
    }

    .content-right-box {
      width: 50%;
      padding: 10px;
    }
  }
}