.home-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;

  .logo {
    height: 42px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 0;
    line-height: calc((40 / 20));
    font-size: 18px;
    color: rgb(24, 144, 255);
    text-align: center;

    span {
      margin-left: 10px;
    }
  }

  .user-info {
    margin-left: 16px;
  }
}

.home-content {
  margin-left: 200px;

  .home-header {
    background-color: rgba(50, 150, 50, 0.1);

    .exit-box {
      text-align: right;
    }
  }

  .content-box {
    margin: 24px 16px 0;
    overflow: initial;

    .content-inner-box {
      padding: 24px;
      background: #fff;
    }
  }

  .home-footer {
    text-align: center;
  }
}