.modify-modal-box {
  display: flex;
  align-items: center;
  flex-direction: column;

  .input {
    width: 200px;
  }

  .save-button-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}