.home-consumer-box {
  padding: 10px;
  box-shadow: 0 0 5px #ddd;
  margin-bottom: 10px;

  .title-box {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: rgb(51, 68, 84);
    border-bottom: 1px solid #ddd;
    color: #fff;
  }

  .home-consumer-content-box {
    .list-title-box {
      padding-bottom: 10px;
      width: 100%;
      text-align: right;
      padding-right: 30px;

      .button {
        background: #52c41a;
        border: 1px solid #52c41a;
      }
    }
  }
}