.black-list-modal-box {
  display: flex;
  align-items: center;
  flex-direction: column;

  .alert-box {
    width: 100%;
    margin: 0 20px 30px 20px;
  }

  .button {
    background: #52c41a;
    border: 1px solid #52c41a;
  }
}